*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     animation: fadeInOut 0.7s;

}


@keyframes fadeInOut {
  0% {
opacity: 0.8;
    transition: ease-in;       /* Invisible */
  }
  100% {
    opacity: 1;
    transition: ease-out;     /* Slightly visible */
  }
}

.navbar
{
    height: 50px;
    width: 100%;
    font-family: "Zilla Slab Highlight", serif;
    border: 2px white;
    position: fixed;
}
.lnav,.navbar
{
    position: fixed;
    background-color: white;
}

.navbar li
{
    list-style-type: none;
}
.navbar li a
{
    text-decoration: none;
    color: black;
    background-color: white;
    float: right;
    padding: 6px;
}
.navbar li :hover
{
    background-color: gray;
}
.lnav
{
    float: left;
    margin: 10px;
    word-spacing: 10px;
    font-size: 20px;
    letter-spacing: 4px;
    background-color: white;

}
.rnav a
{
 margin: 15px;
 padding-right: 20px;
}
.hamburger
{
    height: 700px;
    width: 100%;

}
.hamburger h2
{
    position: absolute;
    top: 680px;
    font-size: 40px;
    color: rgb(75, 75, 75);
    padding-left: 20px;
}
#aboutus,#ourmenu
{
    height: 700px;
    width: 90%;
  margin: 0 auto;
}
.lcontent,.rcontent,.lmenu,.rmenu
{
    margin-top: 70px;
 height: 650px;
 width: 50%;
 padding: 25px;
float: left;

}
.lcontent img,.lmenu img
{
    padding-bottom: 20px;
}
.rcontent h3,.lmenu h2
{
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    font-family: "Zilla Slab Highlight", serif;
}
.rcontent h6
{
 text-align: center;
 font-size: 20px;
 font-family: "Zilla Slab Highlight", serif;
 margin-top: 50px;
 letter-spacing: 5px;
}
.rcontent p
{
    font-size: 20px;
    line-height: 25px;
    padding: 3px;    
    margin-top: 30px;
}

.para
{
    color: rgb(168, 166, 166);
}
.lmenu h5
{
margin-top : 50px;
font-size: 23px;
letter-spacing: 5px;
}
.lmenu p
{
    color: rgb(179, 171, 171);
}
#contact
{
    margin: 0 auto;
    width: 90%;
    height: 500px;
}
#contact h2
{
    font-size: 35px;
    letter-spacing: 4px;
    font-family: "Zilla Slab Highlight", serif;
    margin-top: 180px;
}
#contact .black
{
    margin-top: 60px;
}
#contact h5
{
    color:#607d8b;
    font-size: 18px;
    margin-top:20px;
    margin-bottom: 20px;
}
.bongo
{
    margin-bottom: 20px;
}
input
{
    border:none;
    border-bottom: 1px solid gray;
    width: 100%;
    height: 60px;
}
button
{
    padding: 9px;
    margin-top:20px;
}


